body {
  margin: 0;
  font-family: Georgia;
}
header {
  display: flex;
  background-color: white;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: dotted 4px aquamarine;
}
.logo {
  border: solid 1px;
  display: flex;
  color: MediumAquamarine;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
.logo span {
  padding-left: 10px;
}
nav {
  display: inline-block;
}
a {
  color: black;
  padding: 20px 10px;
}
h5 {
  text-align: center;
}
.main {
  border: solid 3px purple;
  padding-top: 90px;
}
.column {
  display: flex;
  margin-top: 20px;
  border: 1px solid;
}
.column h1 {
  border: dotted red;
}
.column h2 {
  border: dotted blue;
}
.column h4 {
  border: dotted green;
}
.column .large {
  width: 630px;
  margin: 0px 20px;
  border: 2px solid;
}
.large .smallstories {
  display: flex;
  border: 2px dashed orange;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}
.storygroup {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 5px;
}
.story2 {
  width: 300px;
}

.column .medium {
  width: 300px;
  margin: 0px 20px;
  border: 4px solid;
}
.column .small {
  display: flex;
  flex-direction: column;
  width: 240px;
  border: 6px solid;
}
.small p {
  display: inline;
  margin: 0;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 10px;
}
.small h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.mainimgheader {
  background-image: url("../images/img-story-main.png");
  font-size: 40px;
  color: white;
  font-weight: bold;
  height: 300px;
}
.imgtext {
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  height: 300px;
}
.imgheader1 {
  background-image: url("../images/img-story-2.png");

}
.imgheader2 {
  background-image: url("../images/img-story-3.png");

}
.imgheader3 {
  background-image: url("../images/img-story-1.png");

}
